
body{

	margin: 0px;
	padding: 0px;
}

.table  td tr:hover {
	cursor: pointer;
	background-color:  green;
}
.fa-spinner {
	font-size:24px;
}

.form-title{

	font-family: 'Lobster', sans-serif;
	font-size: 60px;
	text-transform: capitalize;
	margin-top: 10px;
}

.pnr-incr {

	margin-left: 0px;
}
.pnr-titre {

	font-family: 'Lobster', sans-serif;
	font-size: 16px;
}

.pnr-img {

	float: left;
}

thead {

	background-color: gray;
	border-bottom: 1px solid gray !important;
	color: #fff;
}

thead tr {
	border-bottom: 1px solid #fff !important;
}

.table td,th {

		text-align: center;
}
.table td:nth-child(1)
{
	 width: 10%;
	 border-right: 1px solid #eee;

}

.table td:nth-child(2)
{
	width: 20%;
	border-left: 1px solid #ccc;
}

.table td:nth-child(3)
{
	width: 25%;

}

.table td:nth-child(4)
{
	width: 25%;
}
.pnr-img-info,.pnr-descpt
{
	text-align: justify;
}

.pnr-descpt {

	margin-top: 10px;
}

.pnr-quantity{
	font-weight: bold;
	font-size: 22px;
	float:right;
}



.flip-box-back {

}

.pnr-price{

	font-weight: bold;
}
.prix{

	margin: auto;
	color : #000;
	width: 60%;
	background: linear-gradient(to left, #3A2C25,#fff,#fff,#3A2C25);
	border-radius: 5px;
	font-size: 17px !important;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 4px;
}


.table thead {

	font-size: 20px;
}

.zbtn,.zbtn-primary {

	width: 50% !important;
	background-color: green !important;
	color: #fff !important;
	font-weight: bold;
	outline: none;
}

.tt{

	border: none;
	outline: none;
	width: 50 %;
	text-align: center;
	background-color: #FF7F50;
	color: #fff;
	color: #fff;
	font-weight: bold;
	padding: 10px 15px 10px 15px;
	border-radius: 2px;
	transition: all 0.3s ease-in 0s;
	text-decoration: none;
}
.btn-view-comment {

	margin: 20px 0px 20px 0px;
}
.submit-btn {

	border: 1px solid #ddd;
	outline: none;
	background-color: #A2B5BF;
	color: #046380;
	width: 100%;
	font-weight: bold;
	padding: 18px;
	border-radius: 5px;
	transition: all 0.3s ease-in 0s;
}



.btn-cart{

	border: none;
	outline: none;
	text-align: center;
	background-color: #A2B5BF;
	color: #fff;
	font-weight: bold;
	padding: 10px 15px 10px 15px;
	border-radius: 2px;
	transition: all 0.3s ease-in 0s;
	text-decoration: none;
}
.total{

	float: right;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding : 5px;

}
.submit-btn:hover,.btn-cart:hover{

	background: #333;
}

.btn-cart:hover .glyphicon {

	color: #fff;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
   border:none !important;
   background: linear-gradient(#A2B5BF, #5F8CA3) !important;
}

.space {
	margin-top: 10px;
}


.down-menu{
	clear: both;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.down-menuh {
	background-color: yellow !important;
	
}

.up-menu {
	font-size: 13px;
	font-weight: bold;
	color: #333;
}



.nav > li > a:hover,.nav > li > a:focus, .nav > li > a:active{

    background-color: #fff;
}


.down-menu li a {

	padding-left: 0px;
	padding-right: 0px;
	margin-left: 20px;
	font-size: 17px;
}
.down-menu li a:after {

	content: '';
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	border-bottom: 4px solid #192B42;
	transition: width 0.2s;
	visibility: hidden;
}

#learnings {

	background-color: yellow;
}
.down-menu li a:hover:after, .down-menu li a:active:after {

	visibility: visible;

}

.down-menudd li a:hover {

	border-bottom: 4px solid #FF7F50;

}


.nav-container {
	box-shadow : 0px 1px 2px #333;
	border-radius: 0 !important;
	transition: 0.3s;

}

.glyphicon-shopping-cart 
{
	color: #333;
}



.thumbnail .titre{

	font-family: 'Lobster', sans-serif;
	font-size: 20px;

}

.flip-box-back .titre{

	font-family: 'Lobster', sans-serif;
	font-size: 30px;
	color: #FF7F50;
	margin-top: 30%;

}

.view-img-item{

	width: 300px !important;
    height: auto;
    display: block;
}
.nbr-view-comment {

	border-bottom: 2px solid #ccc;
	font-size: 15px;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

.titre-view-comment{

	font-family: 'Lobster', sans-serif;
	font-size: 24px;
	color: #FF7F50;
	margin: 5%;

}
.flip-box-back .prix {

	color : #24A6F5 ;
	font-size: 30px;
	Cmargin-bottom: 20px;

}

.lflip-box-back .prix:before{   
	
	border: 4px solid transparent;
	border-bottom: 4px solid #4a934a;
	border-left: 4px solid #4a934a;
	content: "";
	position: absolute;
	right: 1px;
	top: -8px;
}

.flip-box-back .descpt {

	font-weight: bold;
	font-size: 15px;
	padding: 6px;

}

.flip-box-back form.btn {

	outline: none;
	background-color: #3D933A;
	border: 1px solid #3D933A;
	color: #fff;
	width: 60%;
	font-weight: bold;
	padding: 18px;
	transition: all 0.3s ease-in 0s;

}


.no-comment {

	font-weight: bold;
	font-size: 20px;
	margin: auto;
}

#show-comments {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.7);
	z-index : 999;
}
.comments-content {

	background-color: #fff;
	margin: auto; 
	margin-top: 30px;
	margin-bottom: 30px;
	height: 500px;
	overflow: auto;
	border-radius: 5px;
	margin-left: 17%;

}

textarea {

	resize: vertical;
	margin-top: 10px;
}
.comment-boxd {

	border-bottom : 1px solid #eee !important;
}

.comment-box img {
	border: 1px solid #eee;
}
.thumbnail{        
    width: 100%;
    height: 650px;
    overflow: auto;
}

.thumbnail img{

    width: 100%;
    height: auto;
    display: block;
}

.ligne{

	position: absolute;
	margin-top: 0px;
	border: 2px solid #333;
	width: 100%;
}


.qty {

	padding: 0px;
	width: 100px;
}

.qty span{

	background-color: #eee;
}

.qty a{
	
}

td a {

	background-color: lightgreen;
}

td img {

	width: 100px;
	height: auto;
	display: block;
}
.input-error  {

	font-size: 12px;
	font-weight: bold;
	color: red;
	font-style : italic;
	margin-left: 5px;
}

input.form-control,textarea.form-control {

	box-shadow: none !important;
	border : 2px solid #eee;
}

input.form-control:focus,textarea.form-control:focus{

	border: 2px solid #ccc !important;
	box-shadow: none !important;
}



.flip-box {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  height: 650px;
  width: 100%;
  margin-bottom: 20px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #3A2C25;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  border: 1px solid #ccc;
}

.category{

	border-bottom: 3px solid #192B42;
	margin-bottom: 40px;
	margin-top: 40px;
}

.category span {

	position: relative;
	bottom: -1px;
	background-color: #192B42;
	color: #fff;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
	border-radius : 4px 4px 0px 0px;
	
}

.notification {

	position: relative;
	display: inline-block;
}

.nb-badge {

	position: absolute;
	top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
    background-color: red;
}


.table tr tdo {

	border-left: 2px solid red;
	border-right: 4px solid green;
}

.table td.test {

	width: 30%;
}
#snackbar {
  
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: -5px;
  font-size: 17px;
}


.it-view .media-body{

	border: 1px solid #eee;
	text-align: center;
}
.it-view .media-body {

	margin-top: 200px;
	margin-left: 10px;
	padding-top: 20%;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 2px 1px 2px 2px #eee
}

.it-view .media-body .it-view-price {
	margin-bottom: 0px;
}
.it-view-title{

	font-weight: bold;
	font-size: 20px;
	font-family: 'Lobster', sans-serif;
	font-size: 28px;
	color: #FF7F50;
}

.it-view-price{

	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
	color: green;
}


.it-view-desc{

	font-weight: bold;
}

.ligne-dec {
	display: block;
	width: 100%;
	border-bottom: 1px dashed #ddd;
	margin-top: 10px;
	margin-bottom: 20px;
}

.navabar-brand{
	padding: 0px;
	height: 100px;
}
.navbar-brand>img {
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: auto;
}

.title-form-image{

	text-align: center;
}

.title-form-image img{

	display: block;
	width: 350px;
	margin: auto;
	margin-top : 15px;
	margin-bottom: 30px;
	height: auto;
}
.form-container {
	width: 70%;
	margin: auto;
	box-shadow: 0px 2px 5px 5px #ccc;
	border-radius: 0px 0px 2px 2px;
	transition: 0.2s;
}

.item-container {
	width: 70%;
	margin: auto;
	box-shadow: 0px 2px 5px 5px #ccc;
	border: 1px solid #ccc;
	border-radius: 0px 0px 2px 2px;
	transition: 0.2s;
}


.form-container:hover{
	box-shadow: 0px 2px 3px 3px #ccc;
}

footer {

	display: block;
	height: 100px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	background-color: gray;
	padding: 20px;
}

.affix {
	position: fixed;
	z-index: 999;
	top: 0px;
	right: 0;
	left: 0;
	box-shadow : 0px 2px 9px #333;
	background-color: #fff;
	transition: box-shadow 0.4s;
	border-radius: 2px 2px 0px 0px;
}

.affix:afterp{

	content: '';
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	background-color: green;
	transform: rotateX(-60deg);

}

.btn-wdth {

	display: block;
	width: 21%;
	margin: auto;
	margin-right: 0px !important;

};

td {

	font-size: 30px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid green;
	background-color: green;
}

.no-data {

display: block;
width: 100%;
padding: 20px;
font-size: 20px;
font-weight: bold;
text-align: center;
margin: 20px;
};

#list-comment
{
	box-shadow: 3px 2px 10px 3px #ccc;
}

tr {

	position: relative;
	transition: box-shadow 0.2s;
}
tr:first-child:hover{

	box-shadow: 1px 1px 4px 2px #eee;
}
tr:hover{

	cursor: pointer;
	z-index: 999;
	box-shadow: 1px 1px 4px 2px #eee;
	border-bottom: none;
}

.delete{

	display: inline-block;
	background-color:  red;
	width: 13px;
	margin-right: 0px;
	font-size: 13px;
	margin-left: 0px !important;
}
